* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  direction: rtl;
}

.App {
  text-align: center;
}

.MuiTableCell-root {
  direction: rtl;
  text-align: center !important;
}

@media (max-width: 1000px) {
  .MuiTableBody-root .MuiTableCell-root {
    padding: 0.3rem 0 !important;
  }
  .MuiTableBody-root .MuiTableCell-root {
    padding: 0.3rem 0rem !important;
  }
}
