html {
  direction: rtl;
}

.App {
  text-align: center;
  
}

.student-content {
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.student-content .item {
  min-width:10em;
  text-align: right;
}